.pagination {
	@apply py-2;

	@apply flex;
	@apply justify-between;
	@apply items-center;

	.prev-button,
	.next-button {
		@apply hover:bg-abrandc-light-grey;
		@apply text-agrey-500;

		// dark
		@apply dark:hover:bg-abrandc-dark-grey;
		@apply dark:text-agrey-600;

		// disabled
		@apply disabled:hover:bg-transparent;
		@apply disabled:text-agrey-200;

		// disabled dark
		@apply disabled:dark:text-agrey-800;
		@apply disabled:dark:hover:bg-transparent;

		@apply rounded-lg;
		@apply px-2;
		@apply py-2;
	}
	.border-red-500 {
		border: 2px solid red;
	}
	.pagination-btn {
		// shape
		@apply p-2;
		@apply w-8;
		@apply h-8;
		@apply rounded-full;

		// display
		@apply flex;
		@apply justify-center;
		@apply items-center;

		// font
		@apply font-medium;
		@apply text-sm;

		// col
		@apply text-agrey-500;
		@apply hover:bg-abrandc-light-grey;

		@apply dark:text-agrey-600;
		@apply dark:hover:bg-abrandc-dark-grey;

		@apply cursor-pointer;

		&.active {
			@apply bg-ablue-500;
			@apply text-white;
			// remove hover

			// @apply hover:bg-black;
		}
	}
}

input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

// the new styles
.pagination-btn {
	padding: 0.5rem 1rem;
	margin: 0 0.25rem;
	min-width: 20px; // Ensure buttons have a minimum width to avoid squashing
	text-align: center;
}

.pagination {
	white-space: nowrap;
}

.prev-button,
.next-button {
	cursor: pointer;
}

.prev-button[disabled],
.next-button[disabled] {
	cursor: not-allowed;
}

// for the scroll bar in the pagination
.hide-scrollbar {
	scrollbar-width: none; /* For Firefox */
	-ms-overflow-style: none; /* For Internet Explorer and Edge */
}
.hide-scrollbar::-webkit-scrollbar {
	display: none; /* For Chrome, Safari, and Opera */
}
