.eye_tooltip_cont {
    @apply relative cursor-pointer;

    &:hover .tooltip {
        @apply block;
    }

    .tooltip {
        @apply hidden absolute top-1/2 -translate-y-1/2;
        left: calc(100% + 8px);
        z-index: 1050; // Ensure consistent z-index

        &::before {
            @apply absolute border-solid border-transparent border-r-8 border-l-0 border-t-8 border-b-8 top-1/2 -translate-y-1/2 right-full;
            border-right-color: var(--your-tooltip-border-color); // Define this variable in your styles or replace it with a color value
            left: calc(100% + 8px);
        }
    }
}

.tooltip-last {
    @apply hidden absolute;
    bottom: calc(100% + 8px);
    left: 50%;
    transform: translateX(-50%);

    &::before {
        @apply absolute border-solid border-transparent border-t-0 border-b-8 border-l-8 border-r-8;
        bottom: -8px;
        left: 50%;
        transform: translateX(-50%);
        border-bottom-color: var(--tooltip-background-color); // Define this variable or replace with a color
    }
}