.tooltip {
	@apply absolute;
	@apply z-10;
	@apply p-2;
	@apply text-sm;
	@apply font-semibold;

	max-width: 300px;
	min-width: 120px;
	white-space: normal;

	@apply text-center;

	@apply text-gray-900;
	@apply dark:text-white;

	@apply bg-ghostly_grey-50;
	@apply dark:bg-gray-900;

	@apply rounded-lg;
	@apply shadow-md;

	animation: op1 150ms linear;

	// arrow
	&::before {
		content: '';
		@apply absolute;
		@apply border-solid;
		@apply border-transparent;
	}
}

@keyframes op1 {
	from {
		opacity: 0;
	}

	to {
		opacity: 100;
	}
}

@keyframes opR {
	from {
		opacity: 100;
	}

	to {
		opacity: 0;
	}
}
