.skeleton-title {
	@apply h-2.5;
	@apply rounded-full;
	@apply bg-gray-200;
	@apply dark:bg-agrey-800;
	@apply mb-4;
	min-height: 20px; /* Set a minimum height for the title */
	background-color: #ccc;
	
}

.skeleton-line {
	@apply h-2;
	@apply rounded-full;
	// @apply bg-gray-200;

	@apply bg-gray-200;

	@apply dark:bg-agrey-800;
	@apply mb-2.5;
	min-height: 10px; /* Set a minimum height for the line */
	background-color: #ccc;
}

.skeleton-circle {
	@apply rounded-full;
	// @apply bg-gray-200;
	@apply bg-gray-200;
	@apply dark:bg-agrey-800;
	@apply mb-8;
}

.skeleton-container {
	@apply animate-pulse;
}
