.comp_button {
	@apply relative;

	@apply px-6;
	@apply py-2;

	@apply h-[48px];

	@apply overflow-hidden;

	@apply rounded-full;

	@apply text-sm;
	@apply text-center;

	// @apply transition-all;
	// @apply duration-200;
	// @apply ease-in-out;

	@apply disabled:text-ghostly_grey-300;
	@apply disabled:bg-ghostly_grey-300;

	@apply disabled:border-transparent;
	@apply disabled:cursor-not-allowed;

	@apply disabled:hover:border-transparent;
	@apply disabled:hover:cursor-not-allowed;

	.click_overlay {
		@apply absolute;

		border-radius: 50%;
		transform: scale(0);
		animation: ripple 500ms linear;

		@apply bg-white;
		@apply bg-opacity-70;

		@apply pointer-events-none;
	}

	&.blue {
		@apply bg-ablue-500;
		@apply text-white;

		@apply hover:bg-ablue-400;
	}

	&.secondary {
		@apply bg-ghostly_grey-50;

		@apply border;
		@apply border-ghostly_grey-50;

		@apply text-black;

		@apply hover:bg-ghostly_grey-100;
		@apply hover:border-ghostly_grey-100;

		@apply active:bg-ghostly_grey-200;
		@apply active:border-ghostly_grey-200;
	}

	&.medium {
		@apply py-2;
		@apply px-4;

		@apply h-[36px];
	}
}

@keyframes ripple {
	to {
		transform: scale(4);
		opacity: 0;
	}
}
